<div id='table'>
  <div class="add"></div>
  <div class="feed"></div>
</div>
<div class='tank'></div>
<div id='cover'></div>
<div class='tank2'>
  <div class="ship"></div>
</div>
<div class="cup"></div>
<div id='cover2'></div>
 