/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-color: #dde0e0;
  overflow: hidden;
}

#table{
  background-color: white;
  width: 100vw;
  height: 10vh;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.tank{
  border-width: 1.5vh;
  border-radius: 2%;
  height: 73vh;
  width: 71vw;
  position: absolute;
  bottom: 12.5vh;
  right: 15.5vw;
  background-color: #33adff;
}

.tank2{
  border-width: 1.5vh;
  border-radius: 5%;
  height: 80vh;
  width: 70vw;
  position: absolute;
  bottom: 11vh;
  right: 15vw;
  border-color: white;
  border-style: solid;
}

#cover{
  background-color: #dde0e0;
  width: 100vw;
  height: 15vh;
  position: absolute;
  top: 0px;
  left: 0px;
}


#cover2{
  background-color: #dde0e0;
  width: 100vw;
  height: 12vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

#container {
    width: 380px;
    height: 480px;
    position: relative;
    border: 1px solid blue;
}

.fish {
    background: image-url("clown.svg");
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
}

.dory {
    background: image-url("dory.svg");
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
}

.puffer {
    background: image-url("puffer.svg");
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
}

.shark {
    background: image-url("shark.svg");
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
}

.left {
  -webkit-transform: scale(-1, 1);
}

.right {
}

.add {
  background: image-url("add-fish.png");
  width: 70px;
  height: 70px;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -35px;
}

.feed {
  background: image-url("fish-burger.png");
  width: 70px;
  height: 70px;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 100px;
  margin-top: -35px;
}

.food{
  background-color: #733f18;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: 1;
}

.feed:hover{
  opacity: 0.5;
}

.add:hover{
  opacity: 0.5;
}

.ship{
  background: image-url("coral.svg");
  width: 400px;
  height: 400px;
  background-size: cover;
  position: absolute;
  bottom: 0%;
  right: 55%;
  margin-right: -25%;
}

.cup{
  background: image-url("cup.svg");
  width: 400px;
  height: 400px;
  background-size: cover;
  position: absolute;
  bottom: 9.2%;
  right: -10%;
}